//Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;


//tamaños de media queries
$telefono: 480px;
$tablet: 768px;
$destop: 992px;
$destopXL: 1200px;